
/* main container of the navbar */
.navbarContainer{
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:0px 5%;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    /* z-index: 1; */
    color:white;
}

/* app name inside navbar */
.appName:hover{
    cursor: pointer;
    color: rgb(115, 50, 50);
}
